body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: whitesmoke ;
    box-sizing: border-box;
}

header{
    font-size: 3em;
    font-family: playfair;
    padding-left: 10%;
    padding-top: 15px;
}

@font-face {
    font-family: 'playfair';
    src: url(font/PlayfairDisplay-VariableFont_wght.ttf);
}

.sect{
    margin: -900px 15%;
    position: absolute;
   /* border: red solid 2px;*/
    width: 650px;
    padding-bottom: 50px;
    font-family: Roboto;
}

@font-face {
    font-family: 'Roboto';
    src: url(font/Roboto-Regular.ttf);
}
.sect img{
    float: inline-start;
    border-radius: 50%;
    width: 65px;
    height: 60px;
    vertical-align: middle;
}

.sect p{
    display: inline-block;
    margin: 25px 0 0 15px;
    
    
}

.sect div{
    margin-top: -10px;
    align-items: flex-end;
    border-bottom: solid gray 1px ;
    width: 100%;
    padding-bottom: 50px;
}

.sect h1{
    font-weight: 400;
    font-size: 4.5rem;
    color: #94794e !important;
    
}

#prem{
    margin-top: -7px;
    font-size: 1.2em;
    line-height: 40px;
}

.RdM{
    height: 50px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-weight: bold;
    border: solid #94794e 2px;
    margin: 50px 15px;
    cursor: pointer;
}

.RdM:hover{
    background-color: #94794e;
}

#corpdepage2 {
    text-align: center;
    font-family: Roboto;
}

#corpdepage2 span{
    font-size: 1.2em;
}

#corpdepage2 h1{
    font-weight: 400;
    font-size: 3.5rem;
    color: #94794e !important;
    
}
#corpdepage2 div{
    border-bottom: solid #94794e 5px ;
    width: 50px;
    position: relative;
    left: 48%;
}

#corpdepage2 p{
    margin: 50px 25% 0 25%;
    font-size: 0.7em;
    line-height: 2.0;
}

#corpdepage3{
    margin: 50px 14% 0 14%;
    text-align: center;
    overflow: hidden;
  /*  border: red solid 15px;*/
    
}

#corpdepage3 img{
    width: 100%;
    margin-top: -150px;
    opacity: 80%;
    position: relative;
    
}

#sku{
    position: relative;
    border: solid #94794e 4px ;
    width: 95%;
    margin: 0 2%;
    height: 420px;
    top: -600px;
    
}


#ChocoPo{
    text-align: start;
    font-family: 'Roboto';
    background-color: #1c1a1a ;
    height: 600px;
    width: 100%;
    position: relative;
    bottom: 570px;
}

#quer {
    max-width: 450px;
    overflow: hidden;
    padding-top: 150px;
    position: relative;
    bottom: 150px;
    left: 50px;
    -webkit-box-shadow: 7px 6px 11px -4px rgba(0,0,0,0.88);
    -moz-box-shadow: 7px 6px 11px -4px rgba(0,0,0,0.88);
    box-shadow: 7px 6px 11px -4px rgba(0,0,0,0.88);;
}
#quer img{
    opacity: 100%;
    width: 550px;
}

#ChocoPo :nth-child(2) h2{
    text-transform: uppercase;
    position: relative;
    bottom: 700px;
    width: 50%;
    left: 47%;
    font-size: 2.2rem;
    font-weight: lighter;
    line-height: 1.2;
    color: #94794e !important;
}

#toi{
    position: relative;
    border: solid #94794e 2.5px ;
    width: 5%;
    left: 47%;
    bottom: 690px;
}

.Unbaille :nth-child(1){
    position: relative;
    width: 50%;
    left: 47%;
    bottom: 690px;
    line-height: 2rem;
    font-size: 0.9rem;
}



#tchai {
    position: relative;
    width: 50%;
    left: 47%;
    bottom: 680px;
    font-size: 1rem;
    line-height: 2rem;
    font-size: 0.9rem;
}

#popo{

    position: relative;
    width: 50%;
    left: 47%;
    bottom: 680px;
    height: 50px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-weight: bold;
    border: solid #94794e 2px;
    margin: 50px 15px;
    cursor: pointer;
}

#popo:hover{
    background-color: #94794e;
}
